@import url('https://fonts.googleapis.com/css2?family=Anta&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --corDeFundo: #101010;
    --corPrimaria: #ff0048;
    --corSecundaria:#fafafaec;
    --transparente: rgba(255, 255, 255, 0.055);
    --textColor: white;
    --textoSecundario: rgb(0, 0, 0);
    --fontePrimaria: "Anta", sans-serif;    
    --fonteSecundaria: "Montserrat", sans-serif;
    --filtroCorPrimaria: invert(24%) sepia(94%) saturate(7427%) hue-rotate(332deg) brightness(103%) contrast(108%);

}
.lightMode{
    --corDeFundo: #dadada;
    --corSecundaria:rgba(255, 255, 255, 0.582);
    --transparente: rgba(255, 255, 255, 0.582);
    --textColor: rgb(26, 26, 26);
}
html, body {
    height: 100%;
}

body{
    background-color: var(--corDeFundo);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: var(--transparente);
}
.startMenuInput{
    display: none;
}
.startMenuLabel{
    display: none;
}
header nav {
    display: flex;
    gap: 2vw;
    margin-left: 1vw;
    font-size: 1.5rem;
    font-family: var(--fontePrimaria);
    font-weight: 600;
}
.navLinks{
    color: var(--textColor)
}
.navLinks:hover{
    color: var(--corPrimaria);
    text-shadow: 1px 1px 10px var(--corPrimaria);
}
.colorMode{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 1vw;
    border-radius: 50%;
    background-color: var(--corPrimaria);
    border: none;
    cursor: pointer;
}
.colorMode:hover{
    box-shadow: 1px 1px 10px 4px var(--corPrimaria);
}

main{
    height: fit-content;
    width: 100%;
}

.animation {
    margin-top: 15vh;
    height: 100%;
    display: flex;
    overflow: hidden;
    gap: 5.6vw;
    position: absolute;
    justify-content: space-between;
}
.line{
    height: 5px;
    width: 1px;
    box-shadow: 1px 1px 10px 1px var(--corPrimaria);
    background-color: var(--corPrimaria);
    position: relative;
    animation: dropLines linear infinite;
    animation-duration: calc(50s/ var(--p));
}

#presentation{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}
#about::before{
    content: '';
    display: block;
    background-color: var(--corPrimaria);
    height: 5px;
    width: 80%;
    border-radius: 10px;
}
.mainPresentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.mainText{
    color: var(--textColor);
    font-size: 2rem;
}
.myName {
    color: var(--textColor);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--fontePrimaria);
}
.mainText span {
    color: var(--corPrimaria);
    font-weight: 500;
    font-size: 2.2rem;
    text-shadow: 1px 1px 10px var(--corPrimaria);
    font-family: var(--fontePrimaria);
}
.myPic{
    height: 80%;
    border: 3px solid var(--corPrimaria);
    border-radius: 50%;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--corSecundaria);
    margin-top: 10vh;
    width: 100%;
    min-height: 100vh;
}
.about{
    margin-top: 3%;
    font-size: 2rem;
    color: var(--textoSecundario);
    font-weight: 600;
    text-align: center;
    font-family:var(--fontePrimaria);
}
.about::after{
    content: '';
    display: block;
    background: var(--corPrimaria);
    width: 200px;
    height: 5px;
    border-radius: 1rem;
}
.aboutDiv{
    display: flex;
    width: 100%;
    height: 100%;
}
.aboutText{
    width: 50%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10vh;
    font-size: 1.3rem;
    font-family: var(--fonteSecundaria);
    font-weight: 600;
}
.aboutText h3{
    padding-top: 5vh;
    text-align: center;
    font-size: 2rem;
    font-family: var(--fontePrimaria);
    font-weight: 600;
}
.aboutTextHighlight{
    color: var(--corPrimaria)
}
.aboutTextButton{
    padding: 1rem;
    color: var(--textoSecundario);
    border: 2px solid var(--corPrimaria);
    border-radius: 10px;
}
.aboutTextButton:hover {
    background-color: var(--corPrimaria);
    box-shadow: 2px 2px 10px 2px var(--corPrimaria);
}


.aboutDivIcons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 1fr;
    grid-template-areas: 
    'title title title'
    'fistItem secondItem thirdItem'
    'fourthItem fifthItem sixthItem'
    'seventhItem eighthItem ninthItem'
    ;
    width: 50%;
    justify-items: center;
}
.aboutIcons{
    width: 100px;
    padding-top: 8vh;
}
.aboutDivIcons h3 {
    grid-area: title;
    padding-top: 5vh;
    text-align: center;
    font-size: 2rem;
    font-family: var(--fontePrimaria);
    font-weight: 600;
}

.aboutIcons:nth-child(1){grid-area: fifthItem;}
.aboutIcons:nth-child(2){grid-area: thirdItem;}
.aboutIcons:nth-child(3){grid-area: fistItem;}
.aboutIcons:nth-child(4){grid-area: secondItem;}

.aboutIcons:hover{
    filter:var(--filtroCorPrimaria);
}
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--corDeFundo);
    width: 100%;
    height: 100vh;
}
#projects::before{
    content: '';
    display: block;
    background-color: var(--corPrimaria);
    height: 5px;
    width: 80%;
    border-radius: 10px;
}
#projects h3{
    padding-top: 5vh;
    text-align: center;
    font-size: 2rem;
    font-family: var(--fontePrimaria);
    color: var(--corPrimaria);
    font-weight: 600;
}

#social{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--corSecundaria);
    width: 100%;
    height: 90vh;
    gap: 1vh
}
#social::before{
    content: '';
    display: block;
    background-color: var(--corPrimaria);
    height: 5px;
    width: 80%;
    border-radius: 10px;
}
.mainSocial{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mainSocial h3{
    text-align: center;
    font-size: 2rem;
    font-family: var(--fontePrimaria);
    color: var(--textoSecundario);
    font-weight: 600;
}
.mainSocial p {
    font-family: var(--fonteSecundaria);
    font-weight: 600;
}
#social form{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px 2px var(--corPrimaria);
    border-radius: 1rem;
    background-color: var(--corDeFundo);
    width: 40%;
    height: 80%;
    align-items: center;
    margin-bottom: 5vh;
}
.formDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    width: 100%;
    height: 90%;
    margin-top: 2vh;
    margin-bottom: 5%;
}
.formField{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
    height: 20%;
}
.formFieldMessage{
    height: 60%;
}
.formField label{
    display: block;
    color: var(--textColor);
    font-size: 1rem;
    font-weight: 550;
}
#formName{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}
#formEmail{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}
#formSubject{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}
#formMessage{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}
#formButton{
    border: none;
    width: 20%;
    height: 10%;
    background-color: var(--corPrimaria);
    border-radius: 1rem;
    margin-bottom: 5%;
}
#formButton:hover{
    box-shadow: 1px 1px 10px 5px var(--corPrimaria);
}

.socialLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5%;
    height: 50%;
    left: 0px;
    margin-top: 25vh;
    background-color: var(--corSecundaria);
    gap: 8%;
    box-shadow: 1px 1px 10px 1px var(--corPrimaria);
    padding: 5px;
}
.socialLinksImg{
    border-radius: 30%;
    width: 90%;
}
.socialLinksImg:hover{
    width: 100%;
    box-shadow: 1px 1px 10px 1px var(--corPrimaria);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: var(--corDeFundo);
    color: var(--corPrimaria);
    font-weight: 800;
}
footer a {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 4vh;
    left: 1vw;
    background-color: var(--corPrimaria);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
footer a:hover{
    height: 80px;
    border-radius: 30%;
    box-shadow: 1px 1px 10px 4px var(--corPrimaria);
}

::-webkit-scrollbar{
    width: 0.8vw;
}
::-webkit-scrollbar-track{
    background-color: rgb(rgba(255, 0, 0, 0));
}
::-webkit-scrollbar-thumb{
    background-color: var(--corPrimaria);
    border-radius: 1vw;
}

@keyframes dropLines{
    0%{
        top: 0%;
        opacity: 0;
    };
    10%{
        opacity: 0.8;
    }
    20%{
        opacity: 1;
    }
    50%{
        top: 50%;
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 0.5;
    }
    100%{
        top: 100%;
        opacity: 0;
    };
}

@media screen and (width<700px){
    header{
        align-items: normal;
    }
    header nav{
        display: none;
        flex-direction: column;
        position: absolute;
        margin-top: 10vh;
        margin-left: 0px;
        padding: 10%;
        gap: 15%;
        background-color: var(--corPrimaria);
        width: 45vw;
        height: 60vh;
        border-radius: 0% 0% 30% 0%;
        font-weight: 700;
    }
    .startMenuLabel{
        display: initial;
        margin-left: 2vw;
        align-self: center;
    }
    .MenuLabelDiv{
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 50px;
        gap: 5%;
        align-self: center;
        justify-content: center;
    }
    .MenuLabelDiv span{
        width: 80%;
        height: 15%;
        border-radius: 20px;
        background-color: var(--corPrimaria);
    }

    .colorMode{
        align-self: center;
    }
    .startMenuInput:checked ~ .navStart{
        display: flex;
    }
    .navLinks{
        font-size: 1rem;
    }


    #presentation{
        flex-direction: column-reverse;
    }
    .myPic{
        height: 40vh;
    }
    #about{
        height: fit-content;
    }
    .aboutDiv{
        align-items: center;
        flex-direction: column;
    }
    .aboutText{
        width: 100%;
    }
    .aboutDivIcons{
        width: 100%;
    }


    #social{
        height: fit-content;
    }
    .mainSocial p{
        margin: 1rem;
    }
    .socialLinks{
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 4vh;
        width: 80%;
        height: 10vh;
    }
    .socialLinksImg:hover{
        width: 100%;
    }
    #social form{
        width: 80%;
        height: 70vh;
        gap: 0px;
        margin-bottom: 5vh;
    }

    
    footer{
        padding-left: 20%;
    }
}

@media screen and (width<400px){
    .colorMode{
        width: 35px;
        height: 35px;
    }
    #colorModeImg{
        height: 70%;
    }
}
